* {
margin: 0;
padding: 0;
}

/* start new css div code */

.grid{
display: grid;
grid-gap: 10px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;  
grid-template-areas: 
"title title" 
"Header Header" 
"sidebar sidebar"
"content content" 
"footer footer"

}

.title {
  grid-area: title;
  text-align-last: center;
  

}

.Header {
  grid-area: Header;
  text-align-last: center;

}

.sidebar {
  grid-area: sidebar;
  text-align-last: center;

}

.content {
  grid-area: content;
  display: grid;
  text-align-last: center;
}

.footer {
  grid-area: footer;
  text-align-last: center;
}

.grid div:nth-child(even) {
background-color: rgb(99, 95, 95);

}

.grid div:nth-child(odd){
  background-color: rgb(248, 56, 56);
  }

@media screen and (min-width: 736px){
  .grid{
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;  
    grid-template-areas: 
    ". title title ." 
    ". Header Header ." 
    ". sidebar content ." 
    ". footer footer ."
   
    }
}
/* end new css div code */




